body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

p {
    font-size: 8vw;
    color: purple;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 95vw;
    max-height: 40vw;
}