@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Herr+Von+Muellerhoff&family=Moon+Dance&family=Pinyon+Script&family=Rouge+Script&display=swap');
@import url('https://fonts.adobe.com/fonts/shameless');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Italianno&display=swap');



.device, .desktop {display:none;}

body {
    
    text-align: center;

} 

.invite {
    margin: auto;
    max-width: 80vw;
    background-color: white;
    opacity: 1;
    border-radius: 0px;
    border: 3px solid white;
    text-align: left;
}

.mainimage {
    border-radius: 20px;
    border: 0px solid white;
    max-width: 25vw;
    margin: auto;

}

.title {
    margin: auto;
    margin-top: 100px;
    padding-bottom: 10px;
    max-width: 90vw;
    min-width: 40px;
    line-height: 15vw;
    
}

@media (max-width : 1000px) {
    .device{display: block}
    .desktop{display: none;}
    .mainimage{ max-width: 25vw;}
}
@media (min-width : 1000px) {
    .desktop{display: initial}
    .device{display: none;}
    .mainimage{max-width: 35vw;}
    .title{padding-bottom: 0px;}
    .invite{max-width: 60vw;}
}



h1 {
    font-family: 'Italianno', cursive;
    font-size: 14vw;
    color: black;
    font-weight: normal;
    line-height: 80%;
}

.subtitle{
    font-size: 5vw; 
    color: gray;
}

@media screen and (max-width: 1000px) {
    h1{
        font-size: 25vw;
    }
    .subtitle{
        font-size: 13vw;
    }
    .invite{
        border-width: 2px;
    }
    .mainimage {
        max-width: 80vw;
    }
}



h2 {
    margin: auto;
    margin-bottom: 10px;
    font-family: Abril Fatface;
    font-size: 32px;
    font-weight: normal;
    color: black;
}

p {
    font-family: 'Bellefair', serif;
    font-size: 21px;
    font-weight: normal;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 3px;
}

.banner {
    background-image: url("images/bakgrund3.jpg");
    background-repeat: repeat-x;
    background-size: 100vw;
}

.pc-img {
    width: 100%;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  
  @media screen and (min-width: 1200px) {
    .pc-img {
      background-image: url("images/bakgrund.jpg");
      background-size: 100vw auto;
    }
  }
  @media screen and (max-width: 1200px) {
    .pc-img {
        background-image: url("images/bakgrund.jpg");
        background-size: auto 100vmax;
    }
  }


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 95vw;
    max-height: 40vw;
}

li {
    all:unset;
    display: block;
    float: left;
    width: 20%;
    text-align: center;
}

ul {
    padding-inline-start: 0px;
    margin: auto;
    max-width: 1200px;
}


  
  a {
    all: unset;
    display:block;
    padding: 4px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #FFF;
    font-family: Abril Fatface;
    color: gray;
  }